/*Scroll Bar*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
head{
    background-color: black;
}

body {
    position: relative;
    background-color: black;
}

/*---------------------------------HEADER SECTION--------------------------------------*/

header {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 15;
    background: #000000;
}
/*Add header image*/
header > div:nth-child(1) > img {
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 558px;
    left:-795px;
    margin: auto;
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
/*Add header articele*/
header > nav > article {
    /*border: 1px solid red;*/
    position: absolute;
    right: 35px;
    top: 22px;
    font-size: 24px;
    font-family: Tahoma, sans-serif;
}
/*Add padding And Remove header underlines*/
body > header > nav > article > a, u {
    text-decoration: none;
    color: #ffffff;
    padding-right: 10px;
}
/*-----------------------------Page One Styles----------------------------------*/
.intro1{
    font-size: 45px;
    color: white;
    position: relative; left: 221px; top: 50px;
    top: 300px;
}
.intro2 {
    font-size: 25px;
    color: white;
    position: relative; left: 225px; top: 50px;
    top: 279px;
}
.intro3 {
    font-size: 115px;
    color: #ffffff;
    position: relative; left: 220px; bottom: 118px;
    font-family: 'Arima', cursive;
}
.hireme {
    background: #103e66;
    width: 191px;
    height: 53px;
    border-radius: 54px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    left: 240px;
    right: 800px;
    top: -85px;
    bottom: 0;
    margin: auto;
    border: none;
}
body > main > section:nth-child(1) > div:nth-child(2) {
    width: 600px;
    height: 600px;
    position: absolute;
    right: 50px;
    top: 120px;
}
body > main > section:nth-child(1) > nav:nth-child(3) > div {

    position: relative;
    width: 100%;
    height: 90px;
}
body > main > section:nth-child(1) > nav:nth-child(3) > div {
    position: absolute;
    font-size: 50px;
    left: 32px;
    top: 90px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
body > main > section:nth-child(1) > nav:nth-child(3) > div > a > i:hover {
    font-size: 51px;
    color: #007bb6;
    transition: 0.5s;
}

/*----------------------------------Page Two Style---------------------------------------------*/
body > main > section:nth-child(2) {
    width: 100%;
    height: 710px;
    position: relative;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
}
.intro4 {
    position: absolute;
    left: 130px;
    right: 20px;
    height: 400px;
}
intro3{
    top: 40px;

}
.about{
    font-family: 'Arima', cursive;
    font-size: 120px;
    color: #533D3D;
    position: relative;
    left: 700px;
    top: -68px;

}
.intro5{
    font-family: 'Arima', cursive;
    font-size: 35px;
    color: white;
    left: 721px;
    position: relative;
    top: -146px;
}
.intro6{
    color: white;
    font-size: 30px;
    right: 10px;
    left: 700px;
    position: relative;
    bottom: 230px;
    font-family: 'Arima', cursive;
    opacity: 0.5;

}

